<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=640, user-scalable=no">
  <title>{{controller.meta_title}}</title>
  <link rel="stylesheet" href="/static/common/css/vendor.mm.css">
  <script src="/static/lib/dll.mm.js"></script>
  <script>
  requirejs.config({
    baseUrl: '/static/',
    urlArgs: 'v=20170513',
    paths: {}
  });
  </script>
</head>

<body>
{% block content %}{% endblock %}
</body>
<script>
require(['front/js/vendor']);
</script>
{% block script %}{% endblock %}
</html>
